@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.catalogue {
    grid-column: -1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include on_tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 40px 16px;
    }

    @include on_desktop {
        justify-content: flex-start;
    }
}